* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #222;
}

html {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

body {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}
em {
    font-style: normal;
    color: #dd0016;
}
p ~ h2 {
    margin-top: 1em;
}


a:visited, a:link{
    color: #222;
}
    
iframe  {
    width: 95%;
    min-height: 400px;
    height: auto;
    border: none;
}

.main-body{
    margin: 10px;
}

button > img {
    width: 30px;
    height: 30px;
}


header a {
    text-decoration: none;
    padding: 5px;
    margin-right: 5px;
}
header a img {
    width: 30px;
    height: 30px;
}
header h1 {
    color: white
}
header * {
    display: flex;
    align-items: center;

}
header {
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
article {
    margin: 0 1em;
}

#last-edited {
    align-self: right;
    justify-self: right;
}
nav {
    background-color: #eee;
    padding: 5px;
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-top: black 1px solid;
}
nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}
nav li {
    margin: 0 5px;
}
nav a {
    text-decoration: none;
    display: block;
    padding: 5px;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    padding: 1rem 1.6rem;
    transition: all .4s cubic-bezier(.4, 0, .2, 1);
    touch-action: manipulation;
}
nav a:hover {
    background-color: #333;
    color: #fff;
}

header a:hover {
    color: #333;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}
.dropdown-list li {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
}
.dropdown-list {
    display: none;
    position: absolute;
    list-style: none;
    background-color: #eee;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 10px;
    z-index: 10;
    width: auto;
}
.dropdown-list li a {
    display: block;
    width: auto;
}
.dropdown-list li a i{
    margin-right: 5px;
    width: 1.2em;
}
nav ul li:hover ol {
    display: block;
}

.menu {
    display: none;
    padding: 0;
    margin: 0;
}

.menu:hover ol {
    display: block;
}
.menu .dropdown-list{
    margin-top: 2.5em;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}
.formulas {
    width: 90%;
    align-self: center;
}
hr {
    width: 92%;
    height: 1px;
    margin-top: 15px;
}
aside + a:link, aside + a:visited {
    text-decoration: none;
}

button {
    width: 22%;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    padding: 1rem 1.6rem;
    transition: all .4s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    touch-action: manipulation;
}
button:hover {
    background-color: #333;
    color: #fff;
}
button:active {
    background-color: #111;
    color: #fff;
}


.info h3 {
    margin-top: 0;
}

.info {
    padding: 5px;
    z-index: 10;
    width: auto;
    margin-bottom: 2em;
}

.active-button {
    background-color: #666;
}
.active-info {
    display: block;
    border: 2px solid #dd0016;
    border-radius: 1.5rem;
    padding: 10px;
}

#formula-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top:20px;
}

math + h5 {
    font-size: 0.9em;
    font-weight: normal;
    text-decoration: underline;
    margin-bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items:stretch;
    justify-content: center;;

}
footer * {
    color: white;
}
footer a:link, footer a:visited {
    color: white;
    text-decoration: none;
}

table {
    margin-top: 20px;
    /* border: 1px solid #333; */
    border-collapse: collapse;
}
th {
    border: 1px solid #333;
    border-bottom: 2px solid #333;
    padding: 5px;
}
td {
    border: 1px solid #333;
    padding: 5px;
}
#table-seperator {
    padding:50px;
    border: none;
}
td a {
    width: 100%;
    display: block;
}
td button {
    width: 100%;
    min-width: 60px;
}

@media all and (min-width: 401px) {
    nav {
        justify-content: center;
    }
    nav > ul {
        display: flex;
    }
    .menu {
        display: none;
    }
    .dropdown-list {
        display: none;
    }
    .info-button {
        flex-direction: row;
    }
}

@media all and (max-width: 800px) {
    
    iframe {
        height: 600px;
    }
}

@media all and (max-width: 400px) {
    nav {
        justify-content: start;
    }
    nav > ul {
        display: none;
    }
    .menu {
        display: block;
    }
    .menu .dropdown-list {
        margin-top: 0;
    }
    .button-wrapper {
        flex-direction: column;
        align-items:flex-start;
    }

}




















































































#grid {
    width:95%;
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 22% 22% 22% 34%;
    grid-gap: 10px;
    margin: 10px;
}
#fname {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
#lname {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
#address {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
#fname-text {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
#lname-text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
#address-text {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
#department {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
#department-text {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
#back {
    grid-column: 2/4;
    grid-row: 4/5;
}
#cancel {
    grid-column: 2/4;
    grid-row: 4/5;
}
#next {
    grid-column: 2/4;
    grid-row: 4/5;
}