* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #222;

}

html {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

body {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}
a:visited, a:link{
    color: #222;
}
    
iframe  {
    width: 95%;
    min-height: 400px;
    height: auto;
    border: none;
}

.main-body{
    margin: 10px;
}

button img {
    width: 30px;
    height: 30px;
}

button {
    width: 100px;
}
header a {
    text-decoration: none;
    padding: 5px;
    margin-right: 5px;
}
header a img {
    width: 30px;
    height: 30px;
}
header h1 {
    color: white
}
header * {
    align-items: center;
    display: inline-flex;

}
header {
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
article {
    margin: 0 1em;
}

#last-edited {
    align-self: right;
    justify-self: right;
}
nav ul li a {
    text-decoration: none;
    padding: 10px;
}
nav ul li {
    display: inline-flex;
    margin: 0 10px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav {
    background-color: #eee;
    padding: 5px;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: black 1px solid;
}
nav ul li a:hover, header a:hover {
    color: #333;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.dropdown-list li {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
}
.dropdown-list {
    margin-top: 2.5em;
    width: 100%;
    display: none;
    position: absolute;
    list-style: none;
    background-color: #eee;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 10px;
    z-index: 10;
    width: auto;
}
.dropdown-list li a {
    display: block;
    width: auto;
}
.dropdown-list li a i{
    margin-right: 5px;
    width: 1.2em;
}
nav ul li:hover ol {
    display: block;
}  

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}
.formulas {
    width: 90%;
    align-self: center;
}